<style>
    .labeladmin {
    background-color: #ffc107;
    color: black;
    padding: 6px;
    border-radius: 15px;
    font-weight: bold;
    font-size: 13px;
    margin-top: 5px;
    margin-left: 7px;
    width: 55px;
    height: auto;
    text-align: center; 
    }
    .labelsupervisor {
        background-color: #eda2f6;
        color: black;
        padding: 6px;
        border-radius: 15px;
        font-weight: bold;
        font-size: 13px;
        margin-top: 5px;
        margin-left: 7px;
        width: 76px;
        height: auto;
        text-align: center;
    }


</style>



@if (User.Identity.IsAuthenticated)
{
<ul class="navbar-nav flex-grow-1">

    <a style="margin-left: 20px; font-size: 14px; margin-top: 2px; font-weight: bold; " class="nav-link text-dark" data-bs-toggle="dropdown" asp-area="Identity" asp-page="/Account/Manage/Index"
       title="Manage"> @User.Identity.Name</a>
    @if (User.IsInRole("Admin"))
    {
        <p class="labeladmin">admin</p>
    }
    @if (User.IsInRole("Supervisor"))
    {
        <p class="labelsupervisor">supervisor</p>
    }


    <ul class="dropdown-menu">
        <li>
            <a class="dropdown-item" asp-controller="Account"
               asp-action="ChangePassword">
                Passwort ändern
            </a>
            <a asp-action="Index" asp-controller="UserRoleManagement" class="dropdown-item">Einstellungen</a>
        </li>
    </ul>

    <li class="nav-item">

        <a style="font-weight:bold;" class="nav-link text-dark logout" asp-area="" asp-controller="Account" asp-action="Logout">abmelden</a>

    </li>

</ul>
    <style>
        .button-login {
            visibility: hidden !important;
        }

        .app {
            margin-right: -8em !important;
        }
    </style>
}
else
{
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Login">Einloggen</a></li>
        <li><a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Register">Registrieren</a></li>
    </ul>
}
