<style>
    .btn-primary {
        background-color: #F8933B !important;
        border: #F8933B !important;
    }
    .btn-primary:hover {
        background-color: #EE7600 !important;
        border: #EE7600 !important;
    }
    

    
</style>

<div class="row" style="margin-bottom:10px;">
    <div class="col-12" style="padding-top: 27px; padding-bottom: 17px;">
        <a asp-action="AddRole" asp-controller="UserRoleManagement" class="btn btn-primary mr-2">Rollen verwalten</a>
        <a asp-action="AddUserToRole" asp-controller="UserRoleManagement" class="btn btn-primary mr-2">Benutzer verwalten</a>
        <a asp-action="Settings" asp-controller="UserRoleManagement" class="btn btn-success">Distanz (km) verwalten</a>
    </div>
</div>

