@model List<string>

@{ ViewData["Title"] = "Details"; }


<div class="container-fluid" style="padding-bottom: 200px; background-color: #F4F8FB; min-height: 600px;">
    <div class="row">
        <h2 style="padding-top: 20px; padding-bottom: 20px;">@ViewBag.UserName</b></h2>
        <div class="col-12">
            @if (Model.Count == 0)
            {
    <p>Keine Rolle gefunden!</p> }
else
{
    

                    <table class="table">
                        <thead class="bg-dark text-white">
                            <tr>
                                <th>Rolle</th>
                                <th>Aktionen</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var r in Model)
                            {
            <tr>
                <td>@r</td>
                <td>
                    <a class="btn btn-outline-danger"
                       asp-route-role="@r"
                       asp-route-userName="@ViewBag.UserName"
                       asp-action="RemoveUserRole"
                       onclick="return confirm('Are you sure to remove this role from user?')">Rolle entfernen</a>
                </td>
            </tr>}
                        </tbody>
                    </table>}
        </div>
    </div>
</div>