.login-button{
  background-color: #f58b8f;
  color: white;
  border-radius: 30px;
  box-shadow: 0px 0px transparent;
  border: none;
  height: 50px;
  width: 113px;
  font-weight: bold;
}
.login-button:hover {
  border: 2px solid #f58b8f;
  background-color: #fff;
  color: #f58b8f;
}
.forgetpw{
  color: black !important;
  text-decoration: none;
}
.forgetpw:hover{
  color: #F8933B !important;
  text-decoration: none;
}
.fp{
  margin-top: 40px;
}