body {
  height: 100vh;
  background-color: #f5f8fb;
  overflow: hidden;
}

.flag {
  position: fixed;
  top: 120px;
  right: 40px;
}

.flag img {
  height: 80px;
  width: 80px;
}

.uni-logo {
  position: fixed;
  bottom: 80px;
  right: 40px;
}

.uni-logo img {
  height: 200px;
  width: 200px;
}

.container--university {
  margin-top: 20px;
  min-height: 500px;
  max-height: 800px;
  max-width: 1920px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: auto;
}

.content {
  display: flex;
  background-color: #f5f8fb;
  width: 100%;
  justify-content: center;
}

.picture--university {
  display: flex;
  flex: auto;
  align-items: center;
  justify-content: center;
  grid-column: 1 2;
  margin: 50px;
  margin-right: 20px;
  overflow: hidden;
}

.picture--university img {
  object-fit: contain;
  width: 100%;
  height: auto;
}

.university--text {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: start;
  justify-content: center;
  background-color: transparent;
  grid-column: 2 3;
  margin: 50px;
  overflow: auto;
  margin-left: 20px;
}

.test {
  height: 100px;
  width: 100px;
}

.button-uni {
border-color: #f58b8f !important;
border-radius: 36px !important;
color: white !important;
background-color: #f58b8f !important;
padding: 13px !important;
}


.button-uni:hover {
    background-color: transparent !important;
    color: #f58b8f !important;
    border-color: #f58b8f !important;
    border-radius: 19px !;
}
@media screen and (max-width: 850px) {
  .picture--university {
    display: none;
  }

  .uni-logo img {
    display: none;
  }

  .container--university {
    display: flex;
  }

  .university--text {
    width: 100%;
  }
}

@media screen and (max-width: 1400px) {
  .uni-logo img {
    height: 120px;
    width: 120px;
  }
}

@media screen and (max-height: 720px) {
  .uni-logo img {
    display: none;
  }

  .flag {
    display: none;
  }
}
