@section Scripts
{
<link href="~/css/Alex.css" rel="stylesheet" />
}
<div class="content">
    <div class="container--university">
        <div class="picture--university">
            <img src="~/lib/images/uni-unteres-schloss.jpg" style="height: 100%;" />
        </div>
        <div class="university--text">
            <h1>University of Siegen</h1>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
                et
                dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                Stet
                clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit
                amet,
                consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
                erat,
                sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
                no
                sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
            <button>Mehr Erfahren</button>
        </div>
    </div>
</div>