@section Scripts
{
<link href="~/css/athenathon.css" rel="stylesheet" />
}
<div class="container-fluid" style="background-color: #F4F8FB;">
    <div class="row" style="margin-top: 30px; margin-bottom: 30px;">
        <div class="col-6 d-none d-lg-block">
            <img src="~/lib/images/athenathon.jpg" alt="athenathon" style=" width:100%; height:auto; padding: 50px" />
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6" style="padding-right: 50px; margin-top: 30px">
            <h1 style="line-height: 0.8em; font-size: 39px; font-weight: lighter;">Europe Day</h1>
            <h1 style="line-height: 0.8em;font-size: 39px; font-weight: bold;">ATHENATHON</h1>
            <br>
            <p>
                The seven Universities of the ATHENA European University are proud to launch the Europe Day ATHENATHON, a sporting event destined to reach a distance of 11,000 km.
                <br>
                <br>
                Within a month, from 9 April until 9 May, we invite the students and staff of each university, and every person who wants to participate, to join our event and reach our 11 000 km goal, which represents the distance that connects the seven campuses of our alliance.
                <br>
                <br>
                This initiative is embedded in a more global vision of a green and climate-friendly Europe. For this reason, we will only consider these carbon-free activities: running, walking, swimming, biking, hiking, aqua-biking, skating, treadmill running, indoor biking, rowing, canoeing, skiing, cross-country skiing, ice-skating, rock-climbing, stair-climbing, etc.
                <br>
                <br>
                In order to take part in the event, each participant will submit the number of kilometres they made by posting it on Twitter, Facebook or Instagram with the official hashtags of the event #move4athena or #athenathon and a screenshot of their favourite tracking app performance as evidence, or by joining our Strava Club: Europe Day ATHENATHON. Each participant can contribute multiple times and join from anywhere in Europe and beyond!
                <br>
                <br>
                On Europe Day, 9 May, we will celebrate Europe and the end of the event by finding out our collective result. Moreover, we will have a collection of photos from all over the campuses and towns of the participants to "travel" around from the safety of our homes!
                <br>
                <br>
                In these unprecedented times and more than ever, we need to connect people, support the students, the staff and all members of University communities, stay positive and healthy. Let's keep going and be active together!
                <br>
                <br>
            </p>
            <a href="https://athena-uni.eu/" target="_blank"><form class="btn button-athenathon" type="submit">Mehr Erfahren</form></a>
        </div>
    </div>
    <div class="row">
        <div class="col-offset-4 d-none d-xl-block">
            <img class="snowboard" src="~/lib/images//snowboard.png" alt="snowboard" style=" width:150px; height:auto; margin-top: -70px; margin-right: 100px; margin-bottom: 20px" />
        </div>
    </div>

</div>