@section Scripts
{
    <link href="~/css/athenathon.css" rel="stylesheet" />
    
}
<div class="container-fluid" style="background-color: #F4F8FB; margin-bottom: 70px;">
    <div class="row" style="margin-top: 30px; margin-bottom: 30px;">
        <div class="col-6 d-none d-lg-block">
            <img src="~/lib/images/athenathon.jpg" alt="athenathon" style=" width:100%; height:auto; padding: 50px" />
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6" style="padding-right: 50px; margin-top: 30px">
            <h1 style="line-height: 0.8em; font-size: 39px; font-weight: lighter;">Europe Day</h1>
            <h1 style="line-height: 0.8em;font-size: 39px; font-weight: bold;">ATHENATHON</h1>
            <br>

            <ul style="list-style: none; margin-left: -30px;">
                <li style="font-weight: bold;">15 Gr&uuml;nde f&uuml;r die Teilnahme am European-ATHENATHON</li>
                <li>1. Es ist eine kostenlose Veranstaltung</li>
                <li>2. Jeder kann an der Veranstaltung teilnehmen</li>
                <li>3. Es ist kein Wettbewerb, niemand verliert</li>
                <li>4. Nimm teil, wann du willst und in deinem eigenen Tempo</li>
                <li>5. Du wirst Teil einer einzigartigen europ&auml;ischen Veranstaltung sein</li>
                <li>6. Zeig deinen Campus und deine Stadt den Studenten in ganz Europa - bald werden wir wieder reisen k&ouml;nnen</li>
                <li>7. Nimm einen gesunden und umweltfreundlichen Lebensstil an - besonders wichtig in unserer aktuellen Situation</li>
                <li>8. Positiv bleiben und weitermachen</li>
                <li>9. K&ouml;rperliche Bewegung steigert die Produktivit&auml;t und verbessert die Stimmung</li>
                <li>10. Geh an die frische Luft (und respektiere dabei die Covid-Beschr&auml;nkungen deines Landes)</li>
                <li>11. Es gibt dir die M&ouml;glichkeit, eine spa&szlig;ige Aktivit&auml;t mit deinen Freunden und Kollegen zu unternehmen</li>
                <li>12. Weil wir uns auf etwas anderes als Covid konzentrieren m&uuml;ssen</li>
                <li>13. Studenten: Macht eine Pause von Online-Kursen oder dem Stress der Pr&uuml;fungszeit</li>
                <li>14. Du kannst mit deiner k&ouml;rperlichen Bet&auml;igung in den sozialen Medien angeben</li>
                <li>15. Weil wir alle in diesen schwierigen Zeiten miteinander in Kontakt bleiben m&uuml;ssen</li>
            </ul>
            
            <a href="https://athena-uni.eu/137416-2/" target="_blank"><form class="btn button-athenathon" type="submit">Mehr Erfahren</form></a>
        </div>
    </div>
    <div class="row">
        <div class="col-offset-4 d-none d-xl-block">
            <img class="snowboard" src="~/lib/images//snowboard.png" alt="snowboard" style=" width:150px; height:auto; margin-top: -70px; margin-right: 100px; margin-bottom: 20px" />
        </div>
    </div>

</div>