@section Scripts
{

}
<div class="container-fluid" style="background-color: #F4F8FB;">
    <div class="row" style="margin-top: 30px; padding-bottom: 50px;">
        <div class="col-6 d-none d-lg-block">
            <img src="~/lib/images/lock.png" alt="faq" style=" width:600px; height:auto; padding: 50px" />
        </div>
        <div class="col-6 text" style="padding-right: 50px; margin-top: 60px;">
            <h1 style="font-size: 39px; font-weight: bold;">Datenschutz</h1>


            <h4>Erklärung zum Schutz personenbezogener Daten</h4>
            <p>
                Wenn Sie am Europe Day-ATHENATHON auf die oben beschriebene Art und Weise teilnehmen (Beitritt zum Europe Day-ATHENATHON Club oder Posten Ihrer sportlichen Leistung auf Twitter, Facebook oder Instagram mit einem der offiziellen Hashtags, #athenathon oder #move4athena), erklären Sie sich mit der folgenden Erklärung einverstanden:

                Mir ist bekannt, dass die Mitgliedsinstitutionen der ATHENA European University (d.h. Polytechnisches Institut Porto, Hellenic Mediterranean University, Universität Siegen, Universität Maribor, Unicusano, Universität Orléans, Vilnius Tech) alle übermittelten personenbezogenen Daten gemäß den Bestimmungen der Verordnung (EU) 2016/679 des Europäischen Parlaments und des Rates vom 27. April 2016 zum Schutz natürlicher Personen bei der Verarbeitung personenbezogener Daten, zum freien Datenverkehr und zur Aufhebung der Richtlinie 95/46 / EG (Allgemeine Datenschutzverordnung, ABl. L 119 vom 4.5.2016, S. 1-88) verarbeiten und schützen. Mir ist bekannt, dass meine personenbezogenen Daten von Mitarbeitern der oben genannten Hochschuleinrichtungen verarbeitet werden, die aufgrund ihrer Funktion oder ihres Arbeitsplatzes dazu befugt sind.

                Verantwortlicher im Sinne der Datenschutzgesetze, insbesondere der EU-Datenschutzgrundverordnung (DSGVO), ist: Athena European University
            </p>
            <h4>Ihre Betroffenenrechte</h4>
            <p>Unter den angegebenen Kontaktdaten unseres Datenschutzbeauftragten können Sie jederzeit folgende Rechte ausüben:</p>
            <ul>
                <li>Auskunft über Ihre bei uns gespeicherten Daten und deren Verarbeitung (Art. 15 DSGVO),</li>
                <li>Berichtigung unrichtiger personenbezogener Daten (Art. 16 DSGVO),</li>
                <li>Löschung Ihrer bei uns gespeicherten Daten (Art. 17 DSGVO),</li>
                <li>Einschränkung der Datenverarbeitung, sofern wir Ihre Daten aufgrund gesetzlicher Pflichten noch nicht löschen dürfen (Art. 18 DSGVO),</li>
                <li>Widerspruch gegen die Verarbeitung Ihrer Daten bei uns (Art. 21 DSGVO) und</li>
                <li>Datenübertragbarkeit, sofern Sie in die Datenverarbeitung eingewilligt haben oder einen Vertrag mit uns abgeschlossen haben (Art. 20 DSGVO).</li>
            </ul>
            <p>
                Sofern Sie uns eine Einwilligung erteilt haben, können Sie diese jederzeit mit Wirkung für die Zukunft widerrufen.
                Sie können sich jederzeit mit einer Beschwerde an eine Aufsichtsbehörde wenden, z. B. an die zuständige Aufsichtsbehörde des Bundeslands Ihres Wohnsitzes oder an die für uns als verantwortliche Stelle zuständige Behörde.
                Eine Liste der Aufsichtsbehörden (für den nicht-öffentlichen Bereich) mit Anschrift finden Sie unter:
                <a href="https://www.bfdi.bund.de/DE/Service/Anschriften/Laender/Laender-node.html">www.bfdi.bund.de/DE/Service/Anschriften/Laender/Laender-node.html</a>
            </p>
           
        </div>
    </div>


</div>