@section Scripts
{

}
<div class="container-fluid" style="background-color: #F4F8FB;">
    <div class="row" style="margin-top: 30px; ">
        <div class="col-6 d-none d-lg-block">
            <img src="~/lib/images/lock.png" alt="faq" style=" width:600px; height:auto; padding: 50px" />
        </div>
        <div class="col-6 text" style="padding-right: 50px; margin-top: 60px;">
            <h1 style="font-size: 39px; font-weight: bold;">Datenschutz</h1>
            <h3 style="margin-top: 50px;">1. Lorem Ipsum</h3>
            <p>
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
            </p>
            <h3 style="margin-top: 50px;">2. Lorem Ipsum</h3>
            <p>
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
            </p>
            <h3 style="margin-top: 50px;">3. Lorem Ipsum</h3>
            <p>
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
            </p>
        </div>
    </div>


</div>