@section Scripts
{

}
<div class="container-fluid" style="background-color: #F4F8FB;">
    <div class="row" style="margin-top: 30px; ">
        <div class="col-6 d-none d-lg-block">
            <img src="~/lib/images/lock.png" alt="faq" style=" width:600px; height:auto; padding: 50px" />
        </div>
        <div class="col-6 text" style="padding-right: 50px; margin-top: 60px;">
            <h1 style="font-size: 39px; font-weight: bold;">Datenschutz</h1>
            <h3 style="margin-top: 50px;">1. Datenschutzerkl&auml;rung</h3>
            <p>
                Verantwortlicher im Sinne der Datenschutzgesetze, insbesondere der EU-Datenschutzgrundverordnung (DSGVO), ist: ATHENA European University
                Erkl&auml;rung zum Schutz personenbezogener Daten
            </p>

            <p>  Wenn Sie am Europatag-ATHENATHON auf die oben beschriebene Art und Weise teilnehmen (Beitritt zum Europatag-ATHENATHON Club oder Posten Ihrer sportlichen Leistung auf Twitter, Facebook oder Instagram mit einem der offiziellen Hashtags, #athenathon oder #move4athena), erkl&auml;ren Sie sich mit der folgenden Erkl&auml;rung einverstanden: </p>

            Mir ist bekannt, dass die Mitgliedsinstitutionen der ATHENA European University (d.h. Polytechnisches Institut Porto, Hellenic Mediterranean University, Universit&auml;t Siegen, Universit&auml;t Maribor, Unicusano, Universit&auml;t Orl&eacute;, Vilnius Tech) alle &uuml;bermittelten personenbezogenen Daten gem&auml;&beta; den Bestimmungen der Verordnung (EU) 2016/679 des Europ&auml;ischen Parlaments und des Rates vom 27. April 2016 zum Schutz nat&uuml;rlicher Personen bei der Verarbeitung personenbezogener Daten, zum freien Datenverkehr und zur Aufhebung der Richtlinie 95/46 / EG (Allgemeine Datenschutzverordnung, ABl. L 119 vom 4.5.2016, S. 1-88) verarbeiten und sch&uuml;tzen. Mir ist bekannt, dass meine personenbezogenen Daten von Mitarbeitern der oben genannten Hochschuleinrichtungen verarbeitet werden, die aufgrund ihrer Funktion oder ihres Arbeitsplatzes dazu befugt sind.
            </p>
        </div>
    </div>


</div>