@section Scripts
{
    <link href="~/css/faq.css" rel="stylesheet" />
}
<div class="container-fluid" style="background-color: #F4F8FB;">
    <div class="row" style="margin-top: 30px; ">
        <div class="col-6 d-none d-lg-block">
            <img src="~/lib/images/faq.png" alt="faq" style=" width:600px; height:auto; padding: 50px" />
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6" style="padding-right: 50px; margin-top: 60px; margin-bottom: 100px;">
            <h1 style="font-size: 39px; font-weight: bold;">Frequently asked questions (FAQ)</h1>

            <button type="button" class="collapsible">Wer kann am ATHENATHON teilnehmen?</button>
            <div class="content">
                <p>Wir laden die Studierenden jeder ATHENA-Hochschule sowie die Mitarbeiter (akademische, administrative und andere) ein, an unserer Veranstaltung teilzunehmen. Aber auch alle anderen Interessierten sind herzlich zur Teilnahme eingeladen.</p>
            </div>
            <button type="button" class="collapsible">Wie kann ich am ATHENATHON teilnehmen?</button>
            <div class="content">
                <p>Melde dich in unserer App an: "Europe Day ATHENATHON". Deine Aktivitäten werden automatisch für das Gesamtergebnis des ATHENATHON gezählt.</p>
            </div>
            <button type="button" class="collapsible">Welche Informationen werden in der App verwendet?</button>
            <div class="content">
                <p>Mit dem Beitritt zum Europe Day ATHENATHON stimmst du zu, dass der Club-Administrator (ATHENA European University) die Art der Aktivität (Gehen, Laufen, Radfahren etc.) aufzeichnet und deine Distanz zur ATHENATHON-Kilometerzahl hinzufügt. ATHENA European University verwendet weder deinen Standort noch andere geografische Informationen.</p>
            </div>
            <button type="button" class="collapsible">Ist meine Privatsphäre geschützt?</button>
            <div class="content">
                <p>Alle Daten, die für den Europe Day ATHENATHON 2021 über die App und individuell gewählte und Social-Media-Posts gesammelt werden, werden nur für den Zweck der Veranstaltung in Übereinstimmung mit der Datenschutzverordnung (EU) 2016/679 des Europäischen Parlaments und des Rates der Europäischen Union verwendet. Bitte lies unsere Erklärung zum Datenschutz.</p>
            </div>
            <button type="button" class="collapsible">Kann ich mehrfach beitragen?</button>
            <div class="content">
                <p>Ja, absolut! Du kannst vom 9. April bis zum 9. Mai so oft teilnehmen, wie du möchtest.</p>
            </div>
            <button type="button" class="collapsible">Ich kann nur 1 km laufen. Kann ich trotzdem beim ATHENATHON mitmachen?</button>
            <div class="content">
                <p>Ja, natürlich! Unser Ziel ist es, 11.000 km zu erreichen, daher ist jeder Beitrag, ob groß oder klein, sehr hilfreich!</p>
            </div>
            <button type="button" class="collapsible">Meine Sportart ist nicht aufgeführt, kann ich am ATHENATHON teilnehmen?</button>
            <div class="content">
                <p>Solange die Sportart, die du ausübst, kohlenstofffrei ist und wenn du dabei eine Strecke zurücklegst, werden wir deine Kilometer berücksichtigt. Vergiss nicht, ein Foto zu machen, um uns deinen Sport zu zeigen!</p>
            </div>
        </div>
    </div>


</div>
<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}
</script>