@section Scripts
{
<link href="~/css/uni_siegen.css" rel="stylesheet" />
}
<div class="body-university">

    <div class="content">
        <div class="container--university">
            <div class="picture--university">
                <img src="~/lib/images/_universitaeten/hellenic_mediterranean_university/uni_hellenic_mediterranean_university.png" style="height: 100%;" />
            </div>
            <div class="university--text">
                <h1>Hellenic Mediterranean University</h1>
                <p>
                    The Technological Educational Institute of Crete was founded in 1983 to provide higher technological education to the students of Greece. It is located in Heraklion and has branches in other towns of Crete, Chania, Rethymnon, Ierapetra, Sitia and Agios Nikolaos.
                    <br>
                    <br>
                    According to laws Ν.2916/2001, Ν.3549/2007, Ν.3685/2008, Ν.3794/2009, it is a higher educational institute (Greek: Α.Ε.Ι.) with full University status. The TEI of Crete abolished in May 2019 by law 4610, article 23, Government Gazette 70 A'/07.05.2019, and founding the newly established Hellenic Mediterranean University (HMU) in Crete.
                </p>
                <a href="https://www.hmu.gr/en" target="_blank"><form class="btn button-uni" type="submit">Go to University</form></a>
            </div>
        </div>
    </div>
    <div class="flag"><img src="~/lib/images/_universitaeten/hellenic_mediterranean_university/greece.png" /></div>
    <div class="uni-logo"><img src="~/lib/images/_universitaeten/uni.png" /></div>
</div>