@section Scripts
{
  
}
<div class="container-fluid" style="background-color: #F4F8FB;">
    <div class="row" style="margin-top: 30px; ">
        <div class="col-6 d-none d-lg-block">
            <img src="~/lib/images/impressum.png" alt="faq" style=" width:80%; height:auto; padding: 50px" />
        </div>
        <div class="col-6 text" style="padding-right: 50px; margin-top: 60px;">
            <h1 style="font-size: 39px; font-weight: bold;">Impressum</h1>
            <h3 style="margin-top: 50px;">Contact</h3>
            <p>
                Email: nfe@isep.ipp.pt
                <br>
                Telephone: +351 966 554 443
                <br>
                Adress: Rua S. Tom&#233; 4000 Porto Portugal
            </p>
        </div>
    </div>


</div>