@section Scripts
{
<link href="~/css/homepage.css" rel="stylesheet" />
}


@{
    ViewData["Title"] = "Home Page";
}

<div class="content-container-homepage">
    <div class="content-container-picture--homepage">
        <img src="~/lib/images/web_start_one.png" />
    </div>
    <div class="content-container-text--homepage">
        <h1>Starte durch beim Europe Day ATHENATHON</h1>
        <p>
            Die sieben Universitäten der ATHENA European University sind stolz darauf, den Europe-Day ATHENATHON zu starten, ein Sportereignis mit dem Ziel, eine Strecke von 11.000 km zu erreichen.
            Innerhalb eines Monats, vom 9. April bis zum 9. Mai, laden wir die Studenten und Mitarbeiter jeder Universität und jede Person, die teilnehmen möchte, dazu ein, an unserer Veranstaltung teilzunehmen und unser 11.000 km-Ziel zu erreichen, das die Entfernung zwischen den sieben Standorten unserer Partnerschaftsuniversitäten darstellt.
        </p>
        <a href="@Url.Action("Athenathon","Home")"><button class="learn-more" type="submit">Mehr Erfahren</button></a>
    </div>

</div>

