@section Scripts
{
<link href="~/css/homepage.css" rel="stylesheet" />
}


@{
    ViewData["Title"] = "Home Page";
}
<div class="content-container-homepage">
    <div class="content-container-picture--homepage">
        <img src="~/lib/images/web_start_one.png" style="height: 100%;" />
    </div>
    <div class="content-container-text--homepage">
        <h1>Loreøm ipsum dolor sit amet</h1>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
            dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
            clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
            consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
            sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no
            sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
        <button>Mehr Erfahren</button>
    </div>
</div>
</div>
