@section Scripts
{
    <link href="~/css/homepage.css" rel="stylesheet" />


    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script type="text/javascript">// Load the Visualization API and the corechart package.
        google.charts.load('current', { 'packages': ['corechart'] });

        // Set a callback to run when the Google Visualization API is loaded.
        google.charts.setOnLoadCallback(drawChart);

        // Callback that creates and populates a data table,
        // instantiates the pie chart, passes in the data and
        // draws it.
        function drawChart() {

            // Create the data table.
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Topping');
            data.addColumn('number', 'Slices');
            data.addRows([
                ['Mushrooms', 3],
                ['Onions', 1],
                ['Olives', 1],
                ['Zucchini', 1],
                ['Pepperoni', 2]
            ]);

            // Set chart options
            var options = {
                'title': 'How Much Pizza I Ate Last Night',
                'width': 600,
                'height': 500
            };

            // Instantiate and draw our chart, passing in some options.
            var chart = new google.visualization.PieChart(document.getElementById('chart'));
            chart.draw(data, options);
        }</script>



}


@{
    ViewData["Title"] = "Home Page";
}


<style>
    .content-container-homepage {
        max-height: 1750px !important;
    }
</style>
<div class="content-container-homepage">
    <div class="content-container-picture--homepage">
        <img src="~/lib/images/web_start_one.png" />
    </div>
    <div class="content-container-text--homepage">
        <h1>Starte durch beim Europe Day ATHENATHON</h1>
        <p>
            Die sieben Universitäten der ATHENA European University sind stolz darauf, den Europe-Day ATHENATHON zu starten, ein Sportereignis mit dem Ziel, eine Strecke von 11.000 km zu erreichen.
            Innerhalb eines Monats, vom 9. April bis zum 9. Mai, laden wir die Studenten und Mitarbeiter jeder Universität und jede Person, die teilnehmen möchte, dazu ein, an unserer Veranstaltung teilzunehmen und unser 11.000 km-Ziel zu erreichen, das die Entfernung zwischen den sieben Standorten unserer Partnerschaftsuniversitäten darstellt.
        </p>
        <a href="@Url.Action("Athenathon","Home")"><button class="learn-more" type="submit">Mehr Erfahren</button></a>
    </div>


    <div id="chart"></div>



</div>

