@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>Hey implement-members!</h2>
    <h3>You need to lern a little bit HTML!</h3>
    <h4>I hid 6 mistakes in Privacy.csthml. Every teammember have to solve one error.
    </h4>
    <h1>Good luck!</h1>
    <h4>If you are a fast in learning, you can do the next steps:</h4>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
