@section Scripts
{
    <link href="~/css/Registry.css" rel="stylesheet" />
}

<div class="container--Registry">
    <div class="content-container-picture--login">
        <img src="~/lib/images/Wavy_Spt-03_Single-01.png" style="height: 100%" />
    </div>
    <div class="content-container-text--signup">

        <h1>Login</h1>

        <form>

            <div class="group">
                <input type="text" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>UniMail-Adresse*</label>
            </div>

            <div class="group">
                <input type="text" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Passwort*</label>
            </div>


        </form>

        <button>Ich bin zurück!</button>


    </div>

</div>