@section Scripts
{
    <link href="~/css/Registry.css" rel="stylesheet" />
}

<div class="container--Registry">
    <div class="content-container-picture--login">
        <img src="~/lib/images/Wavy_Spt-03_Single-01.png" style="height: 100%" />
    </div>
    <div class="content-container-text--signin">

        <h1>Anmelden</h1>

        <form>

            <div class="group">
                <input type="text" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>UniMail-Adresse</label>
            </div>

            <div class="group">
                <input type="text" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Passwort</label>
            </div>





        </form>

        <div class="PW">
            <span style="color: #FE8C8D;margin-bottom: 100px;"> <b>Passwort vergessen?</b></span>
           
        </div>

        <button>I'm Back!</button>
    </div>
    <div class="content-container-text--signup">

        <h1>Registrieren</h1>

        <form>

            <div class="group">
                <input type="text" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>UniMail-Adresse*</label>
            </div>

            <div class="group">
                <input type="text" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Passwort*</label>
            </div>

            <div class="group">
                <input type="text" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Passwort best&auml;tigen*</label>
            </div>

        </form>
        <p><b>Schick mir den Newsletter!</b></p>
        <section title=".squaredFour">
            <!-- .squaredFour -->
            <div class="squaredFour">
                <input type="checkbox" value="None" id="squaredFour" name="check" checked />
                <label for="squaredFour"></label>
            </div>
            <!-- end .squaredFour -->
        </section>

        <button>Let's start!</button>

        <p><b>*Pflichtfeld</b></p>


    </div>

</div>