@section Scripts
{
<link href="~/css/uni_siegen.css" rel="stylesheet" />
}
<div class="body-university">

    <div class="content">
        <div class="container--university">
            <div class="picture--university">
                <img src="~/lib/images/_universitaeten/uni_the_polytechnic_Institute_of_porto/uni_the_polytechnic_Institute_of_porto.png" style="height: 100%;" />
            </div>
            <div class="university--text">
                <h1>The Polytechnic Institute of Porto</h1>
                <p>The Instituto Polit&#233;cnico do Porto (Polytechnic Institute of Porto), also referred to as Polit&#233;cnico do Porto (Porto Polytechnic) and P.PORTO (since 2016, for naming and branding purposes), is a composition of multiple polytechnic schools based in Porto region. The Porto Polytechnic developed as a metropolitan institution with schools in Porto, Matosinhos, P&#243;voa de Varzim, Vila do Conde and Felgueiras.</p>
                <a href="https://www.ipp.pt/" target="_blank"><form class="btn button-uni" type="submit">Go to University</form></a>
            </div>
        </div>
    </div>
    <div class="flag"><img src="~/lib/images/_universitaeten/uni_the_polytechnic_Institute_of_porto/portugal.png" /></div>
    <div class="uni-logo"><img src="~/lib/images/_universitaeten/uni.png" /></div>
</div>