@section Scripts
{
<link href="~/css/uni_siegen.css" rel="stylesheet" />
}
<div class="body-university">

    <div class="content">
        <div class="container--university">
            <div class="picture--university">
                <img src="~/lib/images/_universitaeten/unicusano/unicusano.png" style="height: 100%;" />
            </div>
            <div class="university--text">
                <h1>UNICUSANO</h1>
                <p>The Niccol&#242; Cusano University (Italian: Universit&#224; degli Studi Niccol&#242; Cusano), often simply abbreviated as UNICUSANO is a private for-profit online university founded in 2006 in Rome, Italy.</p>
                <a href="https://www.unicusano.it/" target="_blank"><form class="btn button-uni" type="submit">Go to University</form></a>
            </div>
        </div>
    </div>
    <div class="flag"><img src="~/lib/images/_universitaeten/unicusano/italy.png" /></div>
    <div class="uni-logo"><img src="~/lib/images/_universitaeten/uni.png" /></div>
</div>