@section Scripts
{
<link href="~/css/uni_siegen.css" rel="stylesheet" />
}
<div class="body-university">

    <div class="content">
        <div class="container--university">
            <div class="picture--university">
                <img src="~/lib/images/_universitaeten/uni_orleans/uni_orleans.png" style="height: 100%;" />
            </div>
            <div class="university--text">
                <h1>University of Orl&#233;ans</h1>
                <p>The University of Orl&#233;ans (French: Universit&#233; d'Orl&#233;ans) is a French university, in the Academy of Orl&#233;ans and Tours. As of July 2015 it is a member of the regional university association Leonardo da Vinci consolidated University.</p>
                <a href="https://www.univ-orleans.fr/fr" target="_blank"><form class="btn button-uni" type="submit">Go to University</form></a>
            </div>
        </div>
    </div>
    <div class="flag"><img src="~/lib/images/_universitaeten/uni_orleans/france.png" /></div>
    <div class="uni-logo"><img src="~/lib/images/_universitaeten/uni.png" /></div>
</div>