@section Scripts
{
<link href="~/css/uni_siegen.css" rel="stylesheet" />
}
<div class="body-university">

    <div class="content">
        <div class="container--university">
            <div class="picture--university">
                <img src="~/lib/images/_universitaeten/uni_siegen/uni_siegen.png" style="height: 100%;" />
            </div>
            <div class="university--text">
                <h1>University of Siegen</h1>
                <p>The University of Siegen (German: Universit&#228;t Siegen) is a public research university located in Siegen, North Rhine-Westphalia and is part of the Deutsche Forschungsgemeinschaft, a society of Germany's leading research universities. The University was founded in 1972. 18,618 students were enrolled at the university as of the year 2017.</p>
                <a href="https://www.uni-siegen.de/start/" target="_blank"><form class="btn button-uni" type="submit">Go to University</form></a>
            </div>
        </div>
    </div>
    <div class="flag"><img src="~/lib/images/_universitaeten/uni_siegen/germany_flag.png" /></div>
    <div class="uni-logo"><img src="~/lib/images/_universitaeten/uni.png" /></div>
</div>