@section Scripts
{
<link href="~/css/uni_siegen.css" rel="stylesheet" />
}
<div class="body-university">

    <div class="content">
        <div class="container--university">
            <div class="picture--university">
                <img src="~/lib/images/_universitaeten/vilnius_tech/vilnius_tech.png" style="height: 100%;" />
            </div>
            <div class="university--text">
                <h1>Vilnius Tech</h1>
                <p>Vilnius Gediminas Technical University (Lithuanian: Vilniaus Gedimino technikos universitetas) - VGTU for short - is a technical university in Lithuania. VGTU was founded in 1956, initially as a department of Kaunas Technical University, and after its spin-off in 1969 it was initially called Vilniaus in&#382;inerinis statybos institutas (VISI, "Vilnius Institute of Civil Engineering").</p>
                <a href="https://vilniustech.lt/" target="_blank"><form class="btn button-uni" type="submit">Go to University</form></a>
            </div>
        </div>
    </div>
    <div class="flag"><img src="~/lib/images/_universitaeten/vilnius_tech/lithuania.png" /></div>
    <div class="uni-logo"><img src="~/lib/images/_universitaeten/uni.png" /></div>
</div>