    @{ ViewData["Title"] = "Settings"; }


<link href="~/css/Settings.css" rel="stylesheet" />




<div class="container-fluid" style="background-color: #F4F8FB; min-height: 600px;">
    <h2 style="padding-top: 20px; padding-bottom: 20px;">Distanz verwalten</h2>
    <div class="row">
        <div col-12>
            <div class="distance-verwalten">
                <div class="distance-title">

                </div>
                <div class="distance-content">
                    <p>Athenathon Gesamtfortschritt</p>
                    <p>(in km)</p>
                    <div class="counter">
                        <button class="red">-</button>
                        <p>10000</p>
                        <button class="add">+</button>
                    </div>
                    <button class="submit">Bestätigen</button>
                </div>
            </div>
        </div>
    </div>

</div>
